{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li> {{ question.pub_date }}
            {% comment %} <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a> {% endcomment %}
            <!-- url baseada no nome 'detail' passando o parâmetro esperado: o id -->
            <a href="{% url 'detail' question.id %}">{{ question.question_text }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
{% endif %}
